*.py[cod]
*.egg-info
*.eggs

# Editor environment
.vscode/


/dist
/build
.tox
.cache
.pytest_cache
.mypy_cache
*.swp
*.log

htmlcov
.coverage
cobertura.xml

docs/doxygen
docs/apidocs
docs/source/examples/*.log
docs/source/examples/python/performance.sqlite

libmuscle/python/libmuscle/version.py

# Build Artifact from `build cpp`
libmuscle/cpp/src/libmuscle/version.h-e
