*.py[cod]
*.egg-info
*.eggs

/dist
/build
.cache
.pytest_cache
.mypy_cache
*.swp

htmlcov
.coverage
cobertura.xml

docs/doxygen
docs/apidocs
docs/source/examples/*.log

libmuscle/python/libmuscle/version.py
