# Run Continuous Integration on macOS 11 Big Sur, with native Clang and
# without Fortran.

# This mainly checks for issues/regressions in the native build
name: compatibility_macos_bigsur_11_clang
on:
  schedule:
    - cron: '30 0 * * 6'
  push:
    branches:
      - 'release-*'
      - fix_native_compatibility_ci
      - issue_144_macos_support
jobs:
  build:
    runs-on: macos-11
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip3 install tox tox-gh-actions
        brew install openmpi

    - name: Run all tests on macOS Big Sur 11 with Clang
      run: cd ${GITHUB_WORKSPACE} && make test test_examples

