# Run Continuous Integration on every push
name: python_compatibility
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - name: Check out the source code
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache Tox
      uses: actions/cache@v3
      with:
        path: ${{ github.workspace }}/.tox
        key: python-compatibility-${{ matrix.python-version }}-tox

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions

    - name: Run the test suite
      run: make test_python_only
